<nb-card>
  <nb-card-header>Add a Meme</nb-card-header>
  <nb-card-body>
    <div class="form-group">
      <label for="formControlMeme">
        Enter Meme:
      </label>
      <nb-form-field class="form-group">
        <nb-icon nbPrefix icon="link-outline" pack="eva"></nb-icon>
        <textarea
          id="formControlMeme"
          [formControl]="formControlMeme"
          nbInput
          fullWidth
          type="link"
        >
        </textarea>
      </nb-form-field>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton fullWidth status="primary" (click)="submit()">
      Submit
    </button>
  </nb-card-footer>
</nb-card>
