<nb-card>
  <nb-card-body>
    <div class="form-group" style="width: 100%;">
      <label for="formControlUsername">
        Enter Username:
      </label>
      <nb-form-field class="form-group" style="width: 100%;">
        <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
        <input
          id="formControlUsername"
          [formControl]="formControlUsername"
          nbInput
          fullWidth
          type="test"
          placeholder="Username"
        />
      </nb-form-field>
    </div>
    <div class="form-group" style="width: 100%;">
      <label for="formControlCode">
        Enter Code:
      </label>
      <nb-form-field class="form-group" style="width: 100%;">
        <nb-icon nbPrefix icon="hash-outline" pack="eva"></nb-icon>
        <input
          id="formControlCode"
          [formControl]="formControlCode"
          nbInput
          fullWidth
          type="text"
          placeholder="000000"
          (keyup.enter)="confirm()"
        />
      </nb-form-field>
    </div>
    <button nbButton fullWidth status="primary" (click)="confirm()">
      Confirm Signup
    </button>
  </nb-card-body>
</nb-card>
