<nb-card>
  <nb-card-body>
    <div class="form-group" style="width: 100%;">
      <label for="formControlEmail">
        Enter Email:
      </label>
      <nb-form-field class="form-group" style="width: 100%;">
        <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
        <input
          id="formControlEmail"
          [formControl]="formControlEmail"
          nbInput
          fullWidth
          type="email"
          placeholder="Email"
        />
      </nb-form-field>
    </div>
    <div class="form-group" style="width: 100%;">
      <label for="formControlPassword">
        Enter Password:
      </label>
      <nb-form-field class="form-group" style="width: 100%;">
        <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
        <input
          id="formControlPassword"
          [formControl]="formControlPassword"
          nbInput
          fullWidth
          type="password"
          placeholder="Password"
          (keyup.enter)="login()"
        />
      </nb-form-field>
      <button nbButton fullWidth status="primary" (click)="login()">
        Login
      </button>
    </div>
  </nb-card-body>
</nb-card>
