<nb-card>
  <nb-card-body>
    <div class="form-group" style="width: 100%;">
      <label for="formControlEmail">
        Enter Email:
      </label>
      <nb-form-field class="form-group" style="width: 100%;">
        <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
        <input
          id="formControlEmail"
          [formControl]="formControlEmail"
          nbInput
          fullWidth
          type="email"
          placeholder="Email"
        />
      </nb-form-field>
      <label for="formControlUsername">
        Enter Username:
      </label>
      <nb-form-field class="form-group" style="width: 100%;">
        <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
        <input
          id="formControlUsername"
          [formControl]="formControlUsername"
          nbInput
          fullWidth
          type="text"
          placeholder="Username"
        />
      </nb-form-field>
    </div>
    <div class="form-group" style="width: 100%;">
      <label for="formControlPassword">
        Enter Password:
      </label>
      <nb-form-field class="form-group" style="width: 100%;">
        <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
        <input
          id="formControlPassword"
          [formControl]="formControlPassword"
          nbInput
          fullWidth
          type="password"
          placeholder="Password"
          (keyup.enter)="register()"
        />
      </nb-form-field>
    </div>
    <button nbButton fullWidth (click)="register()" status="primary">
      Register Account
    </button>
  </nb-card-body>
</nb-card>
